/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------ GLOBAL ------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 3px solid rgba(135, 135, 135, 0.106) !important; */
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    min-width: 100vh;
    background: linear-gradient(to top, rgb(20, 32, 45), rgb(41, 49, 58));
    counter-reset: navItemCounter -1;
    margin: 0;
    padding: 0;
  }

  main {
    animation-duration: 1s; 
  }

  p {
    line-height: 2;
  }

  /* ------------------------------------------------------------------------------------ header -------------------------------------------------------------------------------------- */
  .page-header {
    vertical-align: middle;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 60;
    border-style: none;
    border-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: rgba(136,136,136,.15);
    background: linear-gradient(to bottom, rgb(20, 32, 45), rgb(41, 49, 58));
  }

  .header-wrap-outer {
    position: relative;
    z-index: 1;
    height: 14vh;
    width: 100%;
    padding-left: 4.4vh;
    padding-right: 4.4vh;
  }

  .header-wrap-inner {
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }

  .main-nav {
    position: absolute;
    cursor: default;
    display: flex;
    align-items: center;
    z-index: 10;
    height: 100%;
    width: 97%;
    font-weight: 500;
  }

  .nav-menu-wrapper {
    width: 100%;
    padding: 0 550px;
  }
  .nav-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-nav > .nav-menu-wrapper > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    padding: 0 44px;
  }
  
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    transition: .25s ease;
  }

  ul.nav-menu:hover a {
    color: #cccccc5e;
  }
  
  ul.nav-menu:hover a:hover {
    color: #EFEFEF;
    box-shadow: 0 2px 0 0 currentcolor;
  }

  a.nav-link > span {
    font-family: 'Open Sans';
    font-size: 16px;
    letter-spacing: 5px;
  }
  
  a.nav-link > span:before {
    content: "0" counter(navItemCounter);
    counter-increment: navItemCounter;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 25px;
    font-weight: 700;
    font-size: 12px;
    opacity: .65;
  }

  .upper-section {
    margin-bottom: 100px;
  }

  /* ------------------------------------------------------------------------------------ footer -------------------------------------------------------------------------------------- */
  :root {
  --footer-background: #121a29;
  --text-gray: #FEFEFE;
  }

  footer {
    position: relative;
    background-color: var(--footer-background);
    min-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer-wrapper {
    display: flex;
    background: var(--footer-background);
    flex-direction: column;
    max-width: 1320px;
  }

  .footer-line {
    display: block;
    width: 100%;
    height: 0;
    background-color: var(--text-gray);
  }

  .footer-sec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    flex: 2 0 90px;
    width: 100%;
    gap: 16px;
    padding: 24px 8px 16px 8px;
    margin: 0 auto;
    color: var(--text-gray);
  }

  .footer-sec > section {
    display: flex;
    justify-content: center;
    min-width: 150px;
  }

  .footer-sec > section > small {
    font-size: 16px;
    margin: 0 4px;
  }

  /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /* ------------------------------------------------------------------------------------ INDEX -------------------------------------------------------------------------------------- */
  /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /* ------------------------------------------------------------------------------------ main --------------------------------------------------------------------------------------- */
  main.content-wrapper {
    position: relative;
    max-width: 100%;
    min-height: 696px;
  }
  
  main.content-wrapper .content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  main.content-wrapper .content .upper-section {
    padding: 200px 315px 0 315px;
  }
  
  .main-title {
    color:#FFFFFF;
    font-size: 70px;
    font-weight: 600;
    font-family: 'Poppin', sans-serif;
    letter-spacing: 5px;
  }

  .sub-title {
    color:#FFFFFF;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Poppin', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    line-height: 140px;
  }

  main.content-wrapper .content .upper-section p {
    color: #dfdfdf;
  }

  main.content-wrapper .content .upper-section hr {
    color: #FFFFFF;
    opacity: 10%;
    width: 680px;
    margin: 10px 0 0 17px;
  }

  main.content-wrapper .content .upper-section .contact-wrapper .direct-contact-sec hr {
    color: #FFFFFF;
    opacity: 10%;
    width: 100%;
    margin: 10px 0 0 0;
  }

  .lower-section {
    display: flex;
    flex-direction: column;
    padding: 0 315px 100px 315px;
  }

  .project-section  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .project-card {
    user-select: none;
    background: linear-gradient(0deg, rgba(40, 44, 52, 1) 0%, rgba(17, 0, 32, 0.5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 0.7rem;
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: 0.5s all;
    min-height: 300px;
  }

  .project-card .project-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .project-card .project-main .project-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.25s ease;
  }
  
  .project-card h2 {
    margin: 30px 0 20px 0;
    color: #ffffff;
    line-height: 20px;
  }

  .project-card::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }

  .project-card:hover {
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
  }

  .project-card:hover::before {
    top: -100%;
    left: 200%;
  }
  
  .project-card:hover .project-main .project-image{
    transform: scale(1.1);
  }

  .card-overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    z-index: 1;
    min-height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: .25s ease;
  }
  
  .project-card:hover .card-overlay {
    left: 0;
  }
  
  .card-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    background: #393939e2;
    transform: translateY(-100%);
    transition: .25s ease-in-out;
  }

  .project-card:hover .card-header {
    border-radius: 0;
  }
  
  .card-thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card-title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #ffffff;
  }

  /* ------------------------------------------------------------------------------------ project ------------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------------ hrms --------------------------------------------------------------------------------------- */
  .project-details {
    padding: 80px 0 0 0;
    display: flex;
    flex-direction: row;
  }

  .project-description {
    width: 60%;
  }
  
  .project-technology {
    width: 40%;
    padding: 0 70px;
  }

  .project-technology-list-wrap {
    background:
      conic-gradient(from 90deg at top 2px left 2px, #0000 25%,#ffffff 0) 0 0,
      conic-gradient(from 180deg at top 2px right 2px, #0000 25%,#ffffff 0) 100% 0;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    cursor: default;
    padding: 20px;
  }

  .project-technology .project-technology-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project-technology-item {
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #154194;
    font-size: 16px;
    color: #fcb3bf;
    font-weight: 700;
    margin: 5px;
  }

  .project-content-section {
    padding: 0 315px 0 315px;
    margin-bottom: 100px;
  }

  .project-content-list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .project-content-item {
    padding: 10px 0;
  }

  .project-content-section .project-content-list .project-content-item img {
    height: auto;
    width: 100%;
  }


  /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /* ------------------------------------------------------------------------------------ ABOUT -------------------------------------------------------------------------------------- */
  /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /* ------------------------------------------------------------------------------------ main --------------------------------------------------------------------------------------- */
  .about-section .main-title  {
    line-height: 140px;
  }

  .experience-section {
    color: #c7c5c5;
    padding: 0 315px 0 315px;
    margin-bottom: 100px;
  }

  .experience-timeline {
    margin: 0;
    padding: 0;
  }

  .experience-section .sub-title  {
    text-align: left;
  }

  /* Split Timeline */
  .timeline-split {
    display: table;
  }

  .timeline-split .timeline-item {
    display: table-row;
    padding: 0;
  }

  .timeline-split .timeline-info,
  .timeline-split .timeline-marker,
  .timeline-split .timeline-content,
  .timeline-split .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }

  .timeline-split .timeline-marker {
    position: relative;
  }

  .timeline-split .timeline-content {
    padding-left: 30px;
  }

  .timeline-split .timeline-info {
    padding-right: 30px;
  }

  .timeline-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .timeline-split .period .timeline-title {
    position: relative;
    left: -45px;
  }

  /* General Styles */
  .timeline {
    line-height: 1.4em;
    list-style: none;
  }

  .timeline h1,
  .timeline h2,
  .timeline h3,
  .timeline h4,
  .timeline h5,
  .timeline h6 {
    line-height: inherit;
  }

  /* Timeline Item */
  .timeline-item {
    padding-left: 40px;
    position: relative;
  }

  .timeline-item:last-child {
    padding-bottom: 0;
  }

  /* Timeline Info */
  .timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
  }

  /* Timeline Marker */
  .timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
  }

  .timeline-marker:before {
    background: #FF6B6B;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: -2px;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  }

  .timeline-marker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 6px;
  }

  .timeline-item:last-child .timeline-marker:after {
    content: none;
  }

  .timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #FF6B6B;
  }

  /* Timeline Content */
  .timeline-content {
    position: relative;
    padding-bottom: 40px;
  }

  .timeline-content p {
    font-size: 14px;
    font-weight: 400;
  }

  .timeline-content p:last-child {
    margin-bottom: 0;
  }

  .timeline-item .timeline-content .timeline-title span {
    position: absolute;
    right: 0;
    font-size: 13px;
  }

  /* Skills Section */
  .skillset-section {
    margin-bottom: 100px;
  }

  .skillset-container {
    width: 1142px;
    margin: 0 auto;
  }

  .skillset-box {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .skillset-item {
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    display: block;
    padding: 30px 20px;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .skillset-item:nth-child(n+2)::before {
    content:'';
    position: absolute;
    background-color: #b0b0b0;
    width: 1px;
    height: 75%;
    bottom: 0;
    left:0;
    top: 26px;
  }

  .skillset-item .icon i {
    font-size: 100px;
    color: #FFFFFF;
  }

  .skillset-title {
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /* ------------------------------------------------------------------------------------ CONTACT -------------------------------------------------------------------------------------- */
  /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /* ------------------------------------------------------------------------------------ main --------------------------------------------------------------------------------------- */
  .contact-section .main-title  {
    line-height: 140px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    position: relative;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .contact-input {
    height:50px;
    border-radius: 4px;
    border-color: #ffffff24;
    margin-bottom: 15px;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .contact-textarea {
    height:150px;
    resize:none;
    border-radius: 4px;
    border-color: #ffffff24;
    margin-bottom: 15px;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    letter-spacing: 1px;
  }

  .contact-input:focus, .contact-textarea:focus {
    background-color: #000;
    color: #FFFFFF;
  }
  
  .contact-send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .send-button-inner {
    width: 400px;
    height: 34px;
    padding-top: 7px;
    transition: all .2s ease-in-out;
  }
  
  .send-button-text {
    display: block;
    margin-top: 15px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .send-button-inner:hover {
    transform: translate3d(0px, -29px, 0px);
    cursor: pointer;
  }
  
  /* Begin Right Contact Page */
  .direct-contact-sec {
    width: 300px;
  }
  
  /* Location, Email Section */
  .contact-list {
    list-style-type: none;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }

  .direct-contact-sec .contact-list .list-item i.fa-location-dot::before {
    padding-left: 4px;
  }
  
  .contact-info-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .contact-info-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }

  .contact-location {
    margin-left: 35px;
  }
  
  .contact-email {
    margin-left: 31px;
  }
  
  .contact-info-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    position: relative;
    z-index: 1;
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 20px;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
    text-align: center;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 20px;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
