/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------ GLOBAL ------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 3px solid rgba(135, 135, 135, 0.106) !important;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    min-width: 100vh;
    background: linear-gradient(to top, rgb(20, 32, 45), rgb(41, 49, 58));
    counter-reset: navItemCounter -1;
    margin: 0;
    padding: 0;
  }

  /* ------------------------------------------------------------------------------------ header -------------------------------------------------------------------------------------- */
  .page-header {
    vertical-align: middle;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 60;
    border-style: none;
    border-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: rgba(136,136,136,.15);
    background: linear-gradient(to bottom, rgb(20, 32, 45), rgb(41, 49, 58));
  }

  .header-wrap-outer {
    position: relative;
    z-index: 1;
    height: 14vh;
    width: 100%;
    padding-left: 4.4vh;
    padding-right: 4.4vh;
  }

  .header-wrap-inner {
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }

  .main-nav {
    position: absolute;
    cursor: default;
    display: flex;
    align-items: center;
    z-index: 10;
    height: 100%;
    width: 97%;
    font-weight: 500;
  }

  .nav-menu-wrapper {
    width: 100%;
    padding: 0 550px;
  }
  .nav-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-nav > .nav-menu-wrapper > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    padding: 0 44px;
  }
  
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    transition: .25s ease;
  }

  ul.nav-menu:hover a {
    color: #cccccc5e;
  }
  
  ul.nav-menu:hover a:hover {
    color: #EFEFEF;
    box-shadow: 0 2px 0 0 currentcolor;
  }

  a.nav-link > span {
    font-family: 'Open Sans';
    font-size: 16px;
    letter-spacing: 5px;
  }
  
  a.nav-link > span:before {
    content: "0" counter(navItemCounter);
    counter-increment: navItemCounter;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 25px;
    font-weight: 700;
    font-size: 12px;
    opacity: .65;
  }

  /* ------------------------------------------------------------------------------------ footer -------------------------------------------------------------------------------------- */
  :root {
  --footer-background: #121a29;
  --text-gray: #FEFEFE;
  }

  footer {
    position: relative;
    background-color: var(--footer-background);
    min-width: 300px;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer-wrapper {
    display: flex;
    background: var(--footer-background);
    flex-direction: column;
    max-width: 1320px;
  }

  .footer-line {
    display: block;
    width: 100%;
    height: 0;
    background-color: var(--text-gray);
  }

  .footer-sec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    flex: 2 0 90px;
    width: 100%;
    gap: 16px;
    padding: 24px 8px 16px 8px;
    margin: 0 auto;
    color: var(--text-gray);
  }

  .footer-sec > section {
    min-width: 150px;
  }

  .footer-sec > section > small {
    font-size: 16px;
    margin: 0 4px;
  }

  /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /* ------------------------------------------------------------------------------------ INDEX -------------------------------------------------------------------------------------- */
  /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /* ------------------------------------------------------------------------------------ main --------------------------------------------------------------------------------------- */
  main.content-wrapper {
    position: relative;
    max-width: 100%;
    min-height: 696px;
  }
  
  main.content-wrapper .content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  main.content-wrapper .content .upper-section {
    padding: 200px 200px 0 200px;
  }
  
  .main-title {
    color:#FFFFFF;
    font-size: 70px;
    font-weight: 700;
    font-family: 'Poppin', sans-serif;
    letter-spacing: 5px;
  }

  .sub-title {
    color:#FFFFFF;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Poppin', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 150px;
  }

  main.content-wrapper .content .upper-section p {
    color: #dfdfdf;
  }

  main.content-wrapper .content .upper-section hr {
    color: #FFFFFF;
    opacity: 10%;
    width: 680px;
    margin: 10px 0 0 17px;
  }

  main.content-wrapper .content .upper-section .contact-wrapper .direct-contact-sec hr {
    color: #FFFFFF;
    opacity: 10%;
    width: 100%;
    margin: 10px 0 0 0;
  }

  .lower-section {
    display: flex;
    flex-direction: column;
    padding: 100px;
  }

  .project-section  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .project-card {
    user-select: none;
    border: 1px solid #ffffff22;
    background: linear-gradient(0deg, rgba(40, 44, 52, 1) 0%, rgba(17, 0, 32, 0.5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
    min-height: 437px;
  }

  .project-card .project-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }
  
  .project-card h2 {
    margin: 30px 0 20px 0;
    color: #ffffff;
    line-height: 20px;
  }

  .project-card::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }

  .project-card:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.0);
  }

  .project-card:hover::before {
    filter: brightness(0.5);
    top: -100%;
    left: 200%;
  }

  .card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    min-height: 400px;
    background: rgb(41, 49, 58);
    transform: translateY(100%);
    transition: .5s ease-in-out;
    /* opacity: 97%; */
  }
  
  .project-card:hover .card-overlay {
    transform: translateY(0);
  }
  
  .card-header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(40 * 1px) 0 0 0;    
    background: linear-gradient(to bottom, rgb(20, 32, 45), rgb(41, 49, 58));
    transform: translateY(-100%);
    transition: .7s ease-in-out;
    /* opacity: 97%; */
  }

  .project-card:hover .card-header {
    transform: translateY(0);
    border-radius: 0;   
  }
  
  .card-thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card-title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #ffffff;
  }
  
  .card-tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #ffffff;  
  }
  
  .card-description {
    padding: 0 2em 2em;
    margin: 0;
    color: #ffffff;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    overflow: hidden;
  }
  
  .future-project-line {
    display: flex;
    justify-content: center;
    margin: 90px 0;
  }

  .lower-section > .future-project-line > h3 {
    color: #ffffff;
  }

  /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /* ------------------------------------------------------------------------------------ CONTACT -------------------------------------------------------------------------------------- */
  /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  /* ------------------------------------------------------------------------------------ main --------------------------------------------------------------------------------------- */
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 0 auto; */
    padding: 20px;
    position: relative;
    /* max-width: 840px; */
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 630px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .contact-input {
    /* max-width: 400px; */
    height:50px;
    border-radius: 4px;
    border-color: #ffffff24;
    margin-bottom: 15px;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .contact-textarea {
    /* max-width: 400px; */
    height:150px;
    resize:none;
    border-radius: 4px;
    border-color: #ffffff24;
    margin-bottom: 15px;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    letter-spacing: 1px;
  }

  .contact-input:focus, .contact-textarea:focus {
    background-color: #000;
    color: #FFFFFF;
  }
  
  .contact-send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .send-button-inner {
    width: 400px;
    height: 34px;
    padding-top: 7px;
    transition: all .2s ease-in-out;
  }
  
  .send-button-text {
    display: block;
    margin-top: 15px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .send-button-inner:hover {
    transform: translate3d(0px, -29px, 0px);
    cursor: pointer;
  }
  
  /* Begin Right Contact Page */
  .direct-contact-sec {
    width: 300px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-info-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .contact-info-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }

  .contact-location {
    margin-left: 35px;
  }
  
  .contact-phone {
    margin-left: 28px;
  }
  
  .contact-email {
    margin-left: 21px;
  }
  
  .contact-info-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 20px;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
    text-align: center;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 20px;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .contact-input, .contact-textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }